@media (min-width: 767px) {
  .felipe-text {
    padding: 0 15px;
  }
  .felipe-section .felipe-text h2 {
    font-size: 44px;
  }
}

@media (min-width: 991px) {
  .felipe-section .felipe-text h2 {
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .portfolio-section .portfolio-item,
  .service-section .service-item {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .description,
  .portfolio-popup .info,
  .portfolio-section .portfolio-item,
  .service-section .service-item,
  .sobre-section .skills .skill-item,
  .sobre-section .sobre-img,
  .sobre-section .sobre-info,
  .felipe-section .felipe-text,
  .felipe-section .felipe-img {
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    padding: 0 15px;
  }
  .sobre-info .section-title{
    text-align: center;
  }
  .sobre-info .section-title h2{
    text-align: center;
  }
  .felipe-section .felipe-text {
    order: 2;
    margin-top: -120px;
  }
  .contact-section .submit-btn,
  .felipe-section .felipe-text {
    text-align: center;
  }
  .felipe-section .full-screen {
    padding: 100px 0;
  }
  .felipe-section .felipe-img .img-box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .effect-3 {
    margin-left: -60px;
  }
  .effect-4 {
    left: 15%;
  }
  .effect-5 {
    right: 4%;
  }
  .sobre-section .sobre-img {
    padding-bottom: 30px;
  }
  .sobre-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .sobre-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }
  .sobre-section .timeline:before {
    left: 35px;
  }
  .sobre-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  .sobre-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }
  .contact-section .contact-item,
  .sobre-section .timeline .timeline-item {
    margin-bottom: 40px;
  }
  .sobre-section .timeline .timeline-item:last-child {
    margin-bottom: 0px;
  }
  .sobre-section .timeline-item .timeline-item-inner:before {
    left: -30px;
  }
  .service-section .service-item {
    margin-bottom: 40px;
  }
  .service-section .service-item:last-child {
    margin-bottom: 0;
  }
  .portfolio-section .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio-section .portfolio-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 574px) {
  .felipe-section .felipe-img .img-box {
    max-width: 260px;
  }
  .felipe-section .felipe-text h2 {
    font-size: 40px;
  }
}
@media (max-width: 740px) {
  .effect-2 {
    margin-bottom: -60px;
  }
}
@media (max-height: 740px) {
  .effect-2 {
    margin-bottom: -100px;
  }
  .felipe-section .felipe-text {
    margin-top: 0px;
  }
  .effect-4 {
    margin-top: -50px;
  }
}
.portfolio-job {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--skin-color);
  border-radius: 10px;
  flex: 0 0 33%;
  max-width: 33%;
  overflow: hidden;
}
.portfolio-job-button {
  flex: 0 0 calc(100% - 30px);
  max-width: calc(100% - 30px);
}
.portfolio-job-button a {
  text-align: center;
  flex: 0 0 50%;
  border: 1px solid #ffffff;
}
@media (max-width: 530px){
  .foot div{
    flex-direction: column;
  }
  .foot div span:last-child{
    order: 1;
  }
  .foot div span:first-child{
    margin-top: 10px;
    order: 2;
  }
}
@media (max-width: 400px){
  .popup-type-of-user .type-of-user h5{
    font-size: 20px;
  }
}